<div class="fixed-bottom footer mb-1 fst-italic">
  <footer class="text-center">
    <img class="me-1" width="18" alt="icon" src="../../assets/google.svg" />
    wfonttbrito@gmail.com
    <a
      class="mx-5 text-black text-decoration-none"
      href="https://github.com/WilmerFontt-Willo04"
    >
      <img class="me-1" width="20" alt="icon" src="../../assets/github.svg" />
      https://github.com/WilmerFontt-Willo04</a
    >
    <a class="text-black text-decoration-none" href="http://">
      <img class="me-1" width="25" alt="icon" src="../../assets/maletin.svg" />
      https://github.com/WilmerFontt-Willo04</a
    >
  </footer>
</div>
